<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="text"
        matInput 
        placeholder="{{'your_login' | translate}}" 
        ngModel 
        name="login">
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="{{'your_password' | translate}}" 
        ngModel 
        name="password">
      <mat-hint>{{'hint' | translate}}</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">{{'login' | translate}}</button>
  </form>
</section>
