<mat-toolbar color="primary">
    <div><a routerLink="/">{{'welcome' | translate}}</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li style="align-self: center;">
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <select (change)="selectLanguage($event)">
              <option value="en-US">{{'language.english' | translate}}</option>
              <option value="ua-UA">{{'language.ukrainian' | translate}}</option>
            </select>
          </ul>
        </li>
        <li *ngIf="!isAuthorized"><a routerLink="/login">{{'login' | translate}}</a></li>
        <li *ngIf="isAuthorized"><a routerLink="/resume">{{'resume' | translate}}</a></li>
        <li *ngIf="isAuthorized" (click)="onLogout()"><a routerLink="#">{{'logout' | translate}}</a></li>
      </ul>
    </div>
  </mat-toolbar>
