<div class="welcome" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <h1>{{'welcome' | translate}}</h1>
    <p>{{'welcome_text1' | translate}}</p>
    <p>{{'welcome_text2' | translate}}</p>
  </section>
  <section>
      <p>Життя навчило прибирати <br>
      Сміття буденності й нудьги,<br>
      І фільтри вдало накладати <br>
      На суть покори й боротьби.</p>
      <p>Шукатимеш дієве кредо,<br>
      Світанкам сенс буття припишеш.<br>
      Накриєш ноги теплим пледом,<br>
      Холодну голову залишиш.</p>
      <p>Серпневий день зібрав всі хмари,<br>
      Розвівши шлях в дві сторони.<br>
      І дня вчорашнього примара<br>
      Сховала обрис між грудьми.</p>
      <p>Осінні хмари дощ прорізав,<br>
      Не стримавши тої ваги.<br>
      Коли вгорі хтось, а хто знизу, -<br>
      Мости єднають береги.</p>
  </section>
</div>
