<div class="wrapper">
  <section class="general-info" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <mat-card class="info-card">
      <mat-card-title-group fxLayout="row" fxLayout.lt-md="column">
        <mat-card-title>Hanna Pereverzieva</mat-card-title>
        <mat-card-subtitle>Angular Developer</mat-card-subtitle>
        <img mat-card-xl-image src="../../assets/images/me.jpg" >
      </mat-card-title-group>
      <mat-card-content fxLayout fxLayoutAlign="flex-start" fxLayoutGap="10px">
          <a href="https://www.linkedin.com/in/pereverzieva/">
            <img src="../../assets/images/linkedin.svg" alt="">
          </a>
          <a href="https://github.com/annyrandie">
           <img src="../../assets/images/github.svg"  alt="">
          </a>
          <span>hporand@gmail.com</span>
      </mat-card-content>
    </mat-card>
    <div class="skills">
      <h2 class="section-title">SKILLS</h2>
      <ul>
        <li>JavaScript, HTML, PUG, CSS, SCSS, Bootstrap v4, Angular, Angular Material, TypeScript, REST API, Firebase.</li>
        <li>npm, Webpack, Git, Jira, Trello, TFS.</li>
        <li>Engineering, team managment</li>
        <li>English - Upper-Intermediate</li>
      </ul>
    </div>
  </section>
  <section class="experience">
    <h2 class="section-title">EXPERIENCE</h2>
    <article>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div class="date">2016 - present</div>
        <div class="company">
          <p class="speciality">Systems engineer, Angular</p>
          <p class="company-name">Progresstech-Ukraine LLC.</p>
        </div>
      </div>
      <div class="duties">
        <ul>
          <li>Angular Front End Developer</li>
          <li>Aviation engineering design</li>
          <li>Business trips to customer’s facilities for organization and support of engineering cooperation</li>
          <li>Managing group of engineers</li>
        </ul>
      </div>
    </article>
    <article>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
          <div class="date">April 2020– June 2020</div>
          <div class="company">
            <p class="speciality">IT internship</p>
            <p class="company-name">Mirko, remote</p>
          </div>
        </div>
        <div class="duties">
          <ul>
            <li>Development of React JS Roadmap for front end interns, following this
                Roadmap</li>
            <li>Landing Web Development (Bootstrap v4, React, Material UI)</li>
            <li>Manual QA in medical project (Scrum, Jira, writing bug reports)</li>
            <li>Negotiations Interpreter in medical project in Back End team</li>
            <li>Tutoring business English for IT specialists</li>
          </ul>
        </div>
      </article>
      <article>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div class="date">2015-2016</div>
            <div class="company">
              <p class="speciality">Service Manager</p>
              <p class="company-name">Taiwan Trade Center, Kyiv</p>
            </div>
          </div>
          <div class="duties">
            <ul>
              <li>Promotion of the product exhibitions in Taiwan</li>
              <li>Business negotiations organization</li>
            </ul>
          </div>
        </article>
  </section>
  <section class="education">
      <h2 class="section-title">EDUCATION</h2>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
          <div class="date" >2010 - 2016</div>
          <div class="university">
            <p><strong>University:</strong> Kyiv Polytechnic Institute</p>
            <p><strong>Degree:</strong> Master in Electromechanics</p>
          </div>
        </div>
  </section>
  <section class="courses">
      <h2 class="section-title">Courses</h2>
      <div class="courses-frontend school" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <span><strong>Front-End</strong></span>
        <div>Hillel IT school, EPAM university online course, udemy</div>
      </div>
      <div class="courses-english school" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <span><strong>English</strong></span>
        <div>Green Forest school (Advanced level), Yappi school (Upper-Intermediate level)</div>
      </div>
  </section>
</div>
