<div class="wrapper">
  <section class="general-info" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <mat-card class="info-card">
      <mat-card-title-group fxLayout="row" fxLayout.lt-md="column">
        <mat-card-title>{{"name" | translate}}</mat-card-title>
        <mat-card-subtitle>{{"front-end" | translate}}</mat-card-subtitle>
        <img mat-card-xl-image src="../../assets/images/me.jpg" >
      </mat-card-title-group>
      <mat-card-content fxLayout fxLayoutAlign="flex-start" fxLayoutGap="10px">
          <a href="https://www.linkedin.com/in/pereverzieva/">
            <img src="../../assets/images/linkedin.svg" alt="">
          </a>
          <a href="https://github.com/annyrandie">
           <img src="../../assets/images/github.svg"  alt="">
          </a>
          <span>hporand@gmail.com</span>
      </mat-card-content>
    </mat-card>
    <div class="skills">
      <h2 class="section-title">{{'skills' | translate | uppercase}} </h2>
      <ul>
        <li>JavaScript, HTML, PUG, CSS, SCSS, Bootstrap v4, Angular, Angular Material, TypeScript, REST API, Firebase.</li>
        <li>npm, Webpack, Git, Jira, Trello, TFS.</li>
        <li>{{"eng" | translate}}</li>
        <li>{{"manager" | translate}}</li>
        <li>English - Upper-Intermediate</li>
      </ul>
    </div>
  </section>
  <section class="experience">
    <h2 class="section-title">{{"exp_section" | translate | uppercase}}</h2>
    <article>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div class="date">{{"from" | translate}} 2016</div>
        <div class="company">
          <p class="speciality">{{"company1.position" | translate}}</p>
          <p class="company-name">{{"company1.company" | translate}}</p>
        </div>
      </div>
      <div class="duties">
        <ul>
          <li>{{"company1.duty1" | translate}}</li>
          <li>{{"company1.duty2" | translate}}</li>
          <li>{{"company1.duty3" | translate}}</li>
        </ul>
      </div>
    </article>
    <article>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
          <div class="date">2020</div>
          <div class="company">
            <p class="speciality">{{"company2.position" | translate}}</p>
            <p class="company-name">{{"company2.company" | translate}}</p>
          </div>
        </div>
        <div class="duties">
          <ul>
            <li>{{"company2.duty1" | translate}}</li>
            <li>{{"company2.duty2" | translate}}</li>
            <li>{{"company2.duty3" | translate}}</li>
            <li>{{"company2.duty4" | translate}}</li>
          </ul>
        </div>
      </article>
      <article>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div class="date">2015-2016</div>
            <div class="company">
              <p class="speciality">{{"company3.position" | translate}}</p>
              <p class="company-name">{{"company3.company" | translate}}</p>
            </div>
          </div>
          <div class="duties">
            <ul>
              <li>{{"company3.duty1" | translate}}</li>
              <li>{{"company3.duty2" | translate}}</li>
            </ul>
          </div>
        </article>
  </section>
  <section class="education">
      <h2 class="section-title">{{"edu_section" | translate | uppercase}}</h2>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
          <div class="date" >2010 - 2016</div>
          <div class="university">
            <p><strong>{{"educations.type" | translate}}:</strong> {{"educations.name" | translate}}</p>
            <p><strong>Degree:</strong> Master in Electromechanics</p>
          </div>
        </div>
  </section>
  <section class="courses">
      <h2 class="section-title">{{"courses_section" | translate | uppercase}}</h2>
      <div class="courses-frontend school" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <span><strong>{{"courses1.study" | translate}}</strong></span>
        <div>{{"courses1.providers" | translate}}</div>
      </div>
      <div class="courses-english school" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <span><strong>{{"courses2.study" | translate}}</strong></span>
        <div>{{"courses2.providers" | translate}}</div>
      </div>
  </section>
</div>
